@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root{
  
  --color-light-050:#FCF8F3;

  --color-dark-900:#121619;
  --color-dark-950:black;
}